@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        height: 100vh;
    }

    body > div{
        height: 100%;
    }
}

@layer components {
    .main-button {
        padding: 20px 10px;
        display: inline-block;
        width: 100%;
        text-align: center;
        transition: 0.3s linear all;
        border: 6px solid;
    }

    .main-button.active {
        -webkit-box-shadow: inset 0px 0px 0px 5px #011a90;
        box-shadow: inset 0px 0px 0px 5px #011a90;
    }

    .main-button:hover {
        opacity: 0.9;
    }

    .tool-button {
        padding: 5px 10px;
        display: inline-block;
        text-align: center;
        transition: 0.3s linear all;
        border: 2px solid;
        margin: 2px;
    }

    .tool-button:hover {
        opacity: 0.6;
    }
}

th {
    font-size: 20px;
    text-align: center;
}

td {
    text-align: center;
}
