@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .main-button {
        background-color: #fff;
        padding: 20px 30px;
        color: #011a90;
        display: inline-block;
        width: 100%;
        text-align: center;
        transition: 0.3s linear all;
    }

    .main-button:hover {
        background-color: #b9b9b9;
    }
}
